<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <form th:action="@{/notice/new}" th:object="${noticeForm}" method="post">
        <input type="text" name="title" th:field="*{title}" placeholder="제목을 입력하세요" required><br/>

        <textarea id="contentsEditor" th:type="textarea" th:field="*{contents}" required>

        </textarea>

    </form>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
    <script>
        $(function (){
            $("#contentsEditor").summernote({
                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Nato Sans KR', 'Merriweather'],
                placeholder: '스터디의 목표, 일정, 진행 방식, 사용할 교재 또는 인터넷 강좌 그리고 모집중인 스터디원 등 스터디에 대해 자세히 적어 주세요.',
                tabSize: 2,
                height:300
            });
        });

    </script>
</body>
</html>