<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>글 목록</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <a sec:authorize="isAuthenticated()" th:if="${hasNotification}" th:href="@{/notification}" th:text="알림"></a>
    <div class="row">
        <ul th:each="notice : ${noticePage}">
            <a th:href="@{'/profile/' + ${notice.writer}}"><li th:text="${notice.writer}"></li></a>
            <li>
                <a th:href="@{'/notice/' + ${notice.noticeId} + '/view'}" th:text="${notice.title}"></a>
            </li>
            <li th:text="${notice.lastModifiedTime}"></li>
        </ul>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-10">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${!noticePage.hasPrevious()}? disabled">
                        <a th:href="@{'/notice/list?page=' + ${noticePage.getNumber() - 1}}"
                           class="page-link" tabindex="-1" aria-disabled="true">
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i == noticePage.getNumber()}? active"
                        th:each="i: ${#numbers.sequence(0, noticePage.getTotalPages() - 1)}">
                        <a th:href="@{'/notice/list?page=' + ${i}}"
                           class="page-link" href="#" th:text="${i + 1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!noticePage.hasNext()}? disabled">
                        <a th:href="@{'/notice/list?page=' + ${noticePage.getNumber() + 1}}"
                           class="page-link">
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
        <a sec:authorize="isAuthenticated()" href="/notice/new">글쓰기</a>
        <a sec:authorize="isAnonymous()" href="/login">로그인</a>
        <a sec:authorize="isAnonymous()" href="/sign-up">회원 가입</a>
</body>
</html>