<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/node_modules/summernote/dist/summernote-bs4.min.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>글 보기</title>
</head>
<body>
<span th:text="${notice.title}"></span><br/>
내용 : <span th:utext="${notice.contents}"></span><br/>
작성자 : <a th:href="@{'/profile/' + ${notice.account.nickname}}"><span th:text="${notice.account.nickname}"></span></a><br/>
작성 시간 : <span th:text="${#temporals.format(notice.createDateTime, 'yyyy-MM-dd')}"></span><br/>
수정 시간 : <span th:text="${#temporals.format(notice.lastModifiedTime, 'yyyy-MM-dd')}"></span><br/>
조회수 : <span th:text="${notice.count}"></span><br/>
<ul th:each="file : ${notice.fileList}">
    <li> <a th:href="@{'/notice/' + ${file.id}}" th:text="${file.orgFileName + file.fileSize}"></a></li>
</ul>


<form sec:authorize="isAuthenticated()" class="needs-validation col-sm-10" th:action="@{'/notice/' + ${notice.id} + '/reply/add'}" th:object="${replyForm}" method="post">
    <textarea type="textarea" th:field="*{contents}" class="editor" required></textarea>
    <button id="replyBtn" type="button">작성</button>
</form>
<div id="replyList">

</div>

<form th:if="${isOwner}" th:action="@{'/notice/' + ${notice.id} + '/delete'}" method="post">
    <button type="submit">삭제</button>
</form>
<a th:if="${isOwner}" th:href="@{'/notice/' + ${notice.id} + '/update'}">수정</a>
<a sec:authorize="isAnonymous()" href="/login">로그인</a>
<a sec:authorize="isAnonymous()" href="/sign-up">회원 가입</a>
<a th:href="@{/notice/list}">목록</a>


<script type="application/javascript" th:inline="javascript">

    $(function() {
        var csrfToken = /*[[${_csrf.token}]]*/ null;
        var csrfHeader = /*[[${_csrf.headerName}]]*/ null;
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        });


        $("#replyBtn").on("click", function (){
            let tempId = 1;
            replyRequest(tempId,'add');
        })
        getReplyList();

    });
    function replyRequest(id,option) {
        let contents = $(".editor").val();
        if(option != 'add'){
            contents = $("#modifyEditor").next().find(".note-editable.card-block").html();
        }else {
            id = "[(${notice.id})]";
        }

        if (contents.length <= 0){
            alert("내용을 입력하세요.");
            return;
        }

        $.ajax({
            // dataType: "json",
            autocomplete: {
                enabled: true,
                rightKey: true,
            },
            contentType: "application/json; charset=utf-8",
            method: "POST",
            url: "/notice/" + id + "/reply/" + option,
            data: JSON.stringify({'contents': contents})
        }).done(function (data, status) {
            getReplyList();
            $(".card-block").html("");
            $(".editor").val("");
        }).fail(function(xhr, status, errorThrown) {
            console.log("${status} and status is ${errorThrown}");
        });
    }
    function getReplyList(){
        $("#replyList").html("");
        $.ajax({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            method: "POST",
            url: "/notice/[(${notice.id})]/reply"
        }).done(function (data, status) {
            buildReplyHtml(data);
        }).fail(function(xhr, status, errorThrown) {

        });
    }
    function buildReplyHtml(data){
        for (let i = 0; i < data.length; i++) {
            var html = "<hr>";
            html += "<div>";
            html += "<a href='/profile/" + data[i].writer + "' >" + data[i].writer + "</a>";
            html += "<p>" + data[i].createdDate + "</p>";
            if(data[i].owner){
                let id = data[i].id;
                html += "<a class='modifyBtn' href='#modify' onclick='modifyEdit(this, " + id + ")'>수정</a>";
                html += "<a class='removeBtn' href='#remove'>삭제</a>";
            }

            html +=  "<div class='modifyEditor'>" + data[i].contents + "</div>";
            html += "</div>";
            $("#replyList").append(html);
        }
    }
    function modifyEdit(e, id){
        if(document.getElementById("modifyEditor") == null){
            open_editor(e, id);
        } else {
            if(confirm("수정 중인 내용을 취소하시겠습니까?")){
                clear_editor();
                open_editor(e, id);
            }
        }

    }
    function open_editor(e, id){
        $(e).after("<a class='editCancelBtn' href='#editCancel'>취소</a>");
        $(e).after('<a class="modifyConfirmBtn" href="#modifyConfirm" onclick="replyRequest('+id+', \'modify\')">확인</a>');

        $(e).siblings(".modifyEditor").attr("id", "modifyEditor");
        $(e).siblings(".removeBtn").remove();
        $(e).remove();
        $("#modifyEditor").summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Nato Sans KR', 'Merriweather'],
            placeholder: '내용을 입력하세요',
            tabSize: 2,
            height:100
        });
    }
    function clear_editor(){
        let $modifyEditor = $("#modifyEditor");
        $modifyEditor.removeAttr("style");
        $modifyEditor.siblings(".note-editor.note-frame").remove();

        let modifyCnfBtn = ".modifyConfirmBtn";
        $modifyEditor.siblings(modifyCnfBtn).text("수정");
        $modifyEditor.siblings(modifyCnfBtn).attr("href","#modify");
        $modifyEditor.siblings(modifyCnfBtn).attr("onclick", "modifyEdit(this)");
        $modifyEditor.siblings(modifyCnfBtn).attr("class", "modifyBtn");

        let cancelBtn = ".editCancelBtn";
        $modifyEditor.siblings(cancelBtn).text("삭제");
        $modifyEditor.siblings(cancelBtn).attr("href","#remove");
        $modifyEditor.siblings(cancelBtn).attr("class", "removeBtn");

        $modifyEditor.attr("id", "modifyEditorTemp");
    }
</script>
<script src="/node_modules/summernote/dist/summernote-bs4.js"></script>
<script>
    $(function (){
        $(".editor").summernote({
            fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Nato Sans KR', 'Merriweather'],
            placeholder: '내용을 입력하세요',
            tabSize: 2,
            height:100
        });
    });
</script>


</body>
</html>